@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;600&display=swap');

@keyframes pulse {

    0%,
    100% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.05);
    }
}

.animate-pulse {
    animation: pulse 2s infinite;
}