@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;600&display=swap');

@keyframes pulse {

    0%,
    100% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.05);
    }
}

.animate-pulse {
    animation: pulse 2s infinite;
}

@keyframes slide-in-left {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slide-in-right {
    from {
        transform: translateX(100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-30px);
    }

    60% {
        transform: translateY(-15px);
    }
}

.animate-slide-in-left {
    animation: slide-in-left 1s ease-out;
}

.animate-slide-in-right {
    animation: slide-in-right 1s ease-out;
}

.animate-bounce {
    animation: bounce 1s infinite;
}

.projImages {
    width: 100%;
    height: auto;
    /* Maintain aspect ratio */
}

@media (min-width: 640px) {
    .projImages {
        width: 80%;
        /* Adjust for larger screens */
    }
}

@media (min-width: 768px) {
    .projImages {
        width: 100%;
        /* Further adjust for even larger screens */
    }
}

@media (min-width: 1024px) {
    .projImages {
        width: 100%;
        /* Final adjustment for large screens */
    }
}